// *footerSection
.footerSection {
    & .innersection {
        border-bottom: 0.6px solid rgba($black, 0.1);
        & .footerHeading {
            position: relative;
            &::before {
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $theme2;
                transition: all 0.3s;
            }
        }
        & .innerLinks {
            & ul {
                & li {
                    transition: all 0.3s;
                    & .links {
                        position: relative;
                        transition: all 0.3s;
                    }
                    &:hover {
                        transform: translateX(5px);
                        & .links {
                            color: $theme2 !important;
                        }
                    }
                }
            }
            &.copyright {
                & .links {
                    transition: all 0.3s;
                    &:hover {
                        color: $theme2 !important;
                        font-weight: 500;
                    }
                }
            }
        }
        & .SocialIcon {
            & ul {
                & li {
                    & .iconList {
                        transition: all 0.3s;
                        & img {
                            transition: all 0.3s;
                            opacity: 0.8;
                        }
                        &:hover{
                            & img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1199.99px) {
    .footer_section {
        & .inner_section {
            & .sub_fluid {
                max-width: 100% !important;
            }
        }
    }
}

.bottomBar {
    & .innerBar {
        & .bottombarTabs {
            & .linkTab {
                transition: all 0.3s;
                & img {
                    filter: opacity(0.5);
                    transition: all 0.3s;
                }
                & .likes {
                    top: -8px;
                    right: -9px;
                    background-color: rgba($theme2, 0.9);
                    opacity: 0.5;
                    transition: all 0.3s;
                    &.chatAlert {
                        background-color: lighten($success, 20);
                    }
                }
                &:hover {
                    & img {
                        filter: opacity(1);
                    }
                }
                &.active {
                    & img {
                        filter: opacity(1);
                    }
                    & .likes {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
