.innerHeading {
	background: linear-gradient(to right, $theme1 0%, $theme2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.offcanvasheadings {
	& span{
		position: relative;
		&::before{
			content: '';
			width: 4px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: $theme1;
		}
	}
}