@charset "UTF-8";

.creataccountModal {
  & .modal-dialog  {
    min-width: 100% !important;
  }
}
.contentForm {
  & .form-control, & .form-select {
    border-bottom: 1px solid $theme2 !important;
    &:focus-visible {
      border-color: $theme1;
    }
  }
  & label {
    cursor: pointer;
  }
  & .selecotr-item {
    & .selector-item_radio {
      appearance: none;
      display: none;
    }
    & .selector-item_label {
      transition-duration: 0.5s;
      transition-property: transform, color, box-shadow;
      transform: none;
      cursor: pointer;
      border: 1px solid $black;
    }
    & .selector-item_radio:checked + .selector-item_label {
      background-image: linear-gradient(to right, $theme1, $theme2);
      color: $white;
      border-color: $theme1;
      transform: translateY(-1px);
    }
    &.reportItem {
      & .selector-item_label {
        border: 2px solid transparent;
      }
      & .liveUserImg {
        border: 2px solid transparent;
      }
      
      & .selector-item_radio:checked + .selector-item_label {
        background-image: none;
        border-color: $theme1;
        background-color: $light;
        & .liveUserImg {
          border-color: $danger;
        }
        & .card-title {
        color: $danger !important;
        }
      }
    }
    &.reportreason {
      & .selector-item_label {
        border: 2px solid rgba($black, 0.1);
      }
    }
  }
  & .custom-check {
    & .form-check-input {
      border: 2px solid rgba($black, 0.5);
      position: relative;
      width: 20px;
      height: 20px;
      &::before {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 4px;
        transform: rotate(-45deg);
        width: 10px;
        height: 5px;
        border-left: 2px solid $theme2;
        border-bottom: 2px solid $theme2;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
      }
      &:checked {
        border-color: rgba($black, 0.5);
      }
      &:checked[type="checkbox"] {
        background-image: none;
        background-color: unset;
        &::before {
          bottom: 6px;
          left: 4px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  & .custom-switch {
    & .form-check-input{
      cursor: pointer;
      &:focus{
        border-color: rgba($black, 0.3) !important;
        filter: grayscale(1);
        }
      &:checked {
        background-color: $theme2;
        border-color: $theme2 !important;
        filter: grayscale(0);
      }
    }
  }
  & .upload {
    & label {
      cursor: pointer;
      border: 3px dashed rgba($black, 0.3);
      border-radius: 8px;
      overflow: hidden;
      transition: all ease 0.5s;
      pointer-events: none;
    }
    & .input-file {
      opacity: 0;
      cursor: pointer;
    }
  }
  & .opetionalHeading {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -25px;
      margin: auto;
      width: 20px;
      height: 3px;
      background-color: rgba($black, 0.3);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -25px;
      margin: auto;
      width: 20px;
      height: 3px;
      background-color: rgba($black, 0.3);
    }
  }
  & .reportcomment {
    border: 2px solid rgba($black, 0.1);
    &:focus-visible {
      outline-color: rgba($black, 0.1);
    }
  }
  & .controlstab {
    cursor: pointer;
    &.active {
      position: relative;
      &::before{
        content: '';
        position: absolute;
        right: 4px;
        transform: translate(0%, -50%);
        top: 50%;
        background-image: url(../img/icon/checked.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
      }
    }
  } 
}

.input_range {
  & .rangslider {
    width:100%;
    height:3px;
    -webkit-appearance:none;
    background: rgba($theme1, 0.2);
    outline:none;
    &::-webkit-slider-thumb {
      -webkit-appearance:none;
      background: $theme1;
      width:16px;
      height:16px;
      border-radius:50%; 
      cursor:pointer;
    }
  }
}

.otp-input-fields {
  margin: auto;
  box-shadow: 0px 0px 8px 0px rgba($black, 0.3);
  max-width: 400px;
  gap: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
  & input {
    border-radius: 4px;
    border: 1px solid $theme2;
    text-align: center;
    outline: none;
    font-size: 14px;
    width: 40px;
    height: 40px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
    &:focus {
      border-width: 2px;
      border-color: darken($theme2, 5%);
      font-size: 16px;
    }
  }
}
// **Select Plan Modal
.selectPlanModal {
  & .modal-dialog {
    & .modal-content {
      & .modal-header {
      background-image: linear-gradient(to right, $theme1, $theme2);
      & button {
        transform: rotate(45deg);
      }
      }
      & .modal-body {
        & .choosePackage {
          & .card {
            & .card-body {
              & .form-check-input{
                top: 7px;
                right: 10px;
                &:focus{
                  border-color: rgba($black, 0.3) !important;
                  filter: grayscale(1);
                }
                &:checked {
                  background-color: $theme2;
                  border-color: $theme2 !important;
                  filter: grayscale(0);
                }
              }
              & .planList {
                & li {
                  &::marker {
                    content: "\2713";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// * feedbackModal
.feedbackModal {
  & .modal-dialog  {
    & .modal-content {
      & .modal-body {
        & .blockeduserimg {
          & img {
            object-fit: cover;
          }
        }
        & .blockedimg {
          inset: 0;
          margin: auto;
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .otp-input-fields {
  padding: 30px 40px;
    & input {
      font-size: 12px;
      width: 32px;
      height: 32px;
      }
    }
  }

  .bodyWrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    & .bodyWrapperInner {
      position: relative;
      z-index: 1051;
      width: 100%;
      & .bosyWrapperMain {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden auto;
        // transform: translate(0, 0);
      }}}







  // ***************?Offcanvass*********************
  @media screen and (min-width: 992px) {
    .datingPrivecyOffcanvas {
      height: calc(100% - 80px);
      top: unset !important;
      bottom: 0;
    }
  }
  // ****datingPrivecyOffcanvas
  .datingPrivecyOffcanvas {
    width: 400px;
    & .offcanvas-header {
    box-shadow: 0px 0px 20px rgba($theme1, 0.1);
    }
    & .offcanvas-body {
      & .LikeCard {
        position: relative;
        overflow: hidden;
        &::before{
          content: "50%off";
          font-size: 10px;
          background: $black;
          color: $white;
          font-weight: 500;
          display: inline-block;
          position: absolute;
          top: -8px;
          text-align: center;
          width: 100px;
          right: -37px;
          padding: 6px;
          padding-top: 20px;
          transform: rotate(45deg);
      }
      &.platinumcard {
        &::before{
          background: $theme2;
        }
      }
      &.goldcard {
        &::before{
          background: $theme1;
        }
      }
        }
      & .form {
        & .inpulable {
          transition: all 0.3s;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $theme1;
            width: 0px;
            height: 1.5px;
            transition: all 0.4s;
          }
          & .rightarrowimg {
            filter: brightness(0);
            transition: all 0.3s;
          }
          &:hover{
            color: $theme2 !important;
            border-color: $theme1;
            &::before{
              width: 100%;
            }
            cursor: pointer;
            & .rightarrowimg {
              filter: brightness(1);
            }
          }
        }
      }
    }
  }