@charset "UTF-8";

// !Privacy setting page
.privacySettingsPage {
    & .innersection {
        & .contentForm {
            & .form {
                & .inputlable {
                    transition: all 0.3s;
                    position: relative;
                    border-bottom: 1.5px solid $theme1;
                    & .rightarrowimg {
                        filter: brightness(0);
                        transition: all 0.3s;
                    }
                    &:hover {
                        color: $theme2 !important;
                        border-color: $theme1;
                        cursor: pointer;
                        & .rightarrowimg {
                            filter: brightness(1);
                        }
                    }
                }
            }
        }
    }
}

// ! Edit Informatin Page
.editinfoPage {
    & .innersection {
        & .contentForm {
            & .form {
                & .edit-info {
                    transition: all 0.3s;
                    & .righteditbtn {
                        cursor: pointer;
                        & img {
                            transition: all 0.3s;
                            filter: grayscale(1);
                        }
                        &:hover {
                            & img {
                                filter: grayscale(0);
                            }
                        }
                    }
                }
            }
        }
    }
}

// ? Edit-info-offcanvas

.editinfo-offcanvas {
    & .offcanvas-header {
        box-shadow: 0px 0px 20px rgba($theme1, 0.1);
        & .offcanvas-title {
            & .searchgroup {
                & .input-group {
                    border: 1.6px solid rgba($black, 0.5);
                    & .input-group-text {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.searchModal {
    & .modal-dialog {
        & .modal-content {
            & .modal-body {
                & .searchgroup {
                    & .input-group {
                        border: 1.6px solid rgba($black, 0.5);
                    }
                }
            }
        }
    }
}

// @media screen and (min-width: 991.99px) {
//     .editinfoPage {
//         & .innersection {
//             & .contentForm {
//                 & .form {
//                     & .chooseImageSide {
//                         position: sticky;
//                         top: 150px;
//                     }
//                 }
//             }
//         }
//     }

// }

// ?########### [ premium-features ] ##########
.premium-features {
    & .innerSection {
        & .iconImage {
            transition: 0.3s;
            box-shadow: 0px 0px 15px rgba($black, 0.3);
            &:hover {
                box-shadow: none;
                background-color: rgba($black, 0.1) !important;
            }
        }
    }
}



// ?########### [ Subscription Page ] ##########
.subscriptionTable {
    & .innersection {
    & .table {
        & thead {
            & tr {
                & th{
                    &:first-child{
                        min-width: 250px;
                    }
                }
            }
        }
        & tbody {
            & tr {
                & td{
                    &:first-child{
                        min-width: 250px;
                    }
                }
            }
        }
    }  
    ::-webkit-scrollbar{
        height: 2px !important;
        opacity: 0;
    }
}
}

// ?########### [ downloadsection Page ] ##########

.downloadsection {
    // background-image: linear-gradient(90deg, rgba($black, 0.4) 30%, rgba($black, 0.4) 100%),url(../../assets/img/index/download-bg.jpg);
    background-image: linear-gradient(90deg, rgba($theme1, 0.2) 30%, rgba($theme2, 0.2) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// ?########### [ supportHeroSection Page ] ##########

.supportHeroSection {
    background-image: linear-gradient(90deg, rgba($theme1, 0.2) 30%, rgba($theme2, 0.2) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// ?########### [ termsAndConditionPage Page ] ##########

.termsAndConditionPage {
    & .cardSection {
        & .innersection {
            & .LikeCard {
                & .card-body {
                    & .contentscard {
                        & .loremcontent {
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}
